.outer {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box {
  height: 7%;
  width: 25%;
  background-color: rgb(56, 83, 236);
  border: 1px solid black;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}
.smallMargin {
  margin-bottom: 20px;
}
.lightStyle {
  font-size: 25px;
  font-weight: 500;
  
}
.button {
  padding: 20px;
  font-size: 15px;
  background-color: rgb(37, 62, 202);
  outline: none;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 8px;
}
input {
  padding: 8px;
  background-color: #b7e2ff;
  border-color: transparent;
  color: white;
  outline: none;
  border-radius: 8px;
  caret-color: black;
  
}
#timeZone {
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  background-color: rgb(37, 62, 202);
  color: white;
}
